<header>
  <div id="headmast" class="container_12">
    <div class="grid_3">
      <figure id="logo">
        <%= link_to "[logo wip]", :controller => :chain, :action => :author, :id => 3 %>
      </figure>
    </div>
    <div class="grid_3">&nbsp;</div>
    <div class="grid_6" id="nav">
      <a class="navUser" href="#"></a><div class="tip"><div class="left"></div><div class="center"><a href="#"><%= @name %></a></div><div class="right"></div></div><a class="navHome" href="#"></a><a class="navSettings" href="#"></a><a class="navLogout" href="#"></a>
    </div>
  </div>
  <div id="topTear"></div>
  <div id="banner">
    <%= yield :banner %>
  </div>
</header>
