body {
  background: url(../images/textured-paper.png);
  font-family: 'Merriweather Sans', 'Verdana', sans-serif;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #09d;
}

/* HEADER */

#headmast {
  height: 95px;
}

#logo {
  padding-top: 23px;
}

#nav {
  text-align: right;
  padding-top: 20px;
  width: 460px;
}

#nav .tip {
  margin: 0 20px 0 -10px;
}

#nav a {
  display: inline-block;
  padding: 0 8px;
}

#nav a.navHome {
  width: 30px;
  height: 30px;
  background: url(../images/home.png) no-repeat left top;
}

#nav a.navHome:hover {
  background: url(../images/home-blue.png) no-repeat left top;
}

#nav a.navSettings {
  width: 30px;
  height: 30px;
  background: url(../images/settings.png) no-repeat left top;
}

#nav a.navSettings:hover {
  background: url(../images/settings-blue.png) no-repeat left top;
}

#nav a.navLogout {
  width: 29px;
  height: 30px;
  background: url(../images/logout.png) no-repeat left top;
}

#nav a.navLogout:hover {
  background: url(../images/logout-blue.png) no-repeat left top;
}

#nav a.navUser {
  width: 34px;
  height: 30px;
  background: url(../images/user.png) no-repeat left top;
}

#nav a.navUser:hover {
  background: url(../images/user-blue.png) no-repeat left top;
}

#topTear {
  position: absolute;
  width: 100%;
  background: url(../images/torn-top.png) repeat-x left top;
  top: 82px;
  height: 23px;
}

#banner {
  background: url(../images/banner-bg.png);
  color: #fff;
}

/*#banner h1 {
  text-align: center;
  padding: 15px 0;
  font-weight: 700;
  font-size: 30px;
}*/

#banner h2 {
  text-align: center;
  padding: 15px 0 5px 0;
  font-weight: 300;
}

#banner strong {
  font-weight: 700;
}

#banner .write {
  font-family: 'Pt Serif', serif;
  font-size: 50px;
  font-style: italic;
  text-align: center;
  padding: 10px 0 15px 0;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.34);
  font-weight: 700;
}

#banner .write a {
  color: #fff;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.34);
}

#banner .write a:hover {
  color: #333;
  text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.48);
}

#container {
  position: relative;
}

#bottomTear {
  position: relative;
  width: 100%;
  background: url(../images/torn-bottom.png) repeat-x left top;
  top: -16px;
  height: 23px;
}

.flash {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  padding: 5px;
  background: rgba(0,153,221,0.3);
  border: 2px #09d solid;
  margin-bottom: 20px;
}

/* BADGES */

.badges {
  padding: 14px 0 0 0;
}

.badge {
  padding: 0 10px;
}

.badge img {
  width: 30px;
}

/* CHAINS */

.chains {
  /*height: 300px;*/
}

.chain {
  margin-bottom: 25px;
}

.chain .title {
  color: #09d;
  font-weight: 700;
  margin-bottom: 10px;
}

.links {
  display: inline-block;
}

.tip-noWrite {
  text-align: center;
  margin-left: 10px;
}

.tip, .writeTip {
  display: inline-block;
  margin-left: 10px;
}

.tip .left, .tip .center, .tip .right {
  float: left;
  height: 28px;
}

.tip .left {
  background: url(../images/tip-left.png) no-repeat;
  width: 23px;
}

.tip .center {
  background: #aaa;
  width: auto;
  line-height: 28px;
}

.tip .right {
  background: url(../images/tip-right.png) no-repeat;
  width: 14px;
}

.tip a {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
}

.tip a:hover {
  color: #069;
}

.writeTip .left, .writeTip .center, .writeTip .right {
  float: left;
  height: 48px;
}

.writeTip .left {
  background: url(../images/writetip-left.png);
  width: 26px;
}

.writeTip .center {
  background: #09d;
  width: auto;
  line-height: 48px;
}

.writeTip .right {
  background: url(../images/writetip-right.png);
  width: 14px;
}

.writeTip a {
  font-family: 'Pt Serif', serif;
  color: #fff;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.34);
  font-style: italic;
  font-size: 26px;
}

.writeTip a:hover {
  color: #333;
  text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.48);
}

.stats a {
  font-size: 12px;
  color: #aaa;
  text-align: center;
  display: block;
  font-weight: 400;
}

.stats a:hover {
  color: #09d;
}

.statsContainer {
  margin-top: 35px;
  color: #888;
  text-align: center;
}

.statsContainer .title {
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  color: #aaa;
}

.statsBox {
  background: #fff;
  padding: 25px 0 30px 0;
}

.stat {
  margin-bottom: 20px;
}

.stat .data {
  font-weight: 800;
  font-size: 26px;
  margin-bottom: 8px;
}

/* FORMS */

.dialog input.title {
  font-size: 18px;
  padding: 5px;
  margin: 10px 0;
}

.dialog input.num {
  width: 20px;
}

.dialog .section {
  padding: 5px 0;
}

.dialog .section-left {
  float: left;
  width: 50px;
  font-weight: bold;
  margin-top: 10px;
}

#register_form .section-left {
  width: 100px;
}

.dialog .section-right {
  float: left;
  margin-top: 10px;
}


/* RECENTS */

.recentLine {
  background: url(../images/horiz-line.png) repeat-x top left;
  width: 100%;
  padding-top: 10px;
  color: #09d;
  margin-bottom: 20px;
}

#recent {
  margin: 20px 0 0 0;
}

#recent .entryRow {
  padding: 10px 0;
}

#recent .entry {
  height: 175px;
  background: #fff;
  color: #888;
  font-size: 12px;
}

#recent .entry .title {
  padding: 10px 0 0 15px;
  font-weight: 700;
  font-size: 14px;
  color: #222;
}

#recent .entry .text {
  padding: 15px;
  color: #444;
  font-family: 'Pt Serif', serif;
  font-size: 14px;
  line-height: 140%;
}

#recent .entry .time {
  float: left;
  padding-left: 15px;
}

#recent .entry .chain {
  float: right;
  padding-right: 15px;
}

/* FOOTER */

footer {
  text-align: center;
  margin: 35px 0 35px 0;
}

footer a {
  padding: 0 6px;
  color: #aaa;
  font-weight: 300;
  font-size: 12px;

}

/* ENTRY PAGE */

#entryPage .entry #text {
  font-family: 'Pt Serif';
  color: #333;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  position: relative;
}

#entryPage .entry #text b {
  font-weight: 700;
}

#entryPage .entry #text i {
  font-style: italic;
}

#entryPage .entry .title {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

#entryPage .entry .author {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  color: #888;
  font-weight: 300;
}

#entryPage .entry .line {
  background: url(../images/horiz-line.png) repeat-x left top;
  height: 2px;
  width: 460px;
  margin: 30px 80px;
}

#entryPage .sidebar {
  margin-top: 95px;
  text-align: right;
  font-size: 12px;
  color: #888;
  font-weight: 300;
}

#entryPage .sidebar a {
  display: inline-block;
  color: #09d;
  font-size: 16px;
  margin-bottom: 10px;
}

#entryPage .sidebar p {
  margin-bottom: 5px;
}

#entryPage .sidebar a:hover {
  color: #333;
}

#entryPage .goBack, .goForward {
  /*use jQuery for this*/
}

#entryPage #banner h1 {
  font-size: 26px;
  text-align: center;
  padding: 30px 0 20px 0;
}

#entryPage #banner h1 a {
  color: #fff;
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.34);
}

#entryPage #banner h1 a:hover {
  color: #333;
  text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.48);
}

#entryPage #banner .prev {
  padding: 38px 0 0 0;
}

#entryPage #banner .next {
  padding: 38px 0 0 0;
  text-align: right;
}

#entryPage #banner .prev a, #entryPage #banner .next a {
  font-weight: 400;
  color: #fff;
}

/* CHAIN PAGE */

#chainPage h1 {
  font-size: 26px;
  text-align: center;
  padding: 30px 0 20px 0;
}

#chainPage #banner .next {
  padding: 38px 0 0 0;
  text-align: right;
}

#chainPage .chains .chain {
  display: inline-block;
  padding: 0 4px;
  height: 500px;
  width: 40px;
}

#chainPage .chains .chain img {
  margin-top: -2px;
}

#chainPage .chains .chain .fail {
  opacity: 0.5;
}

#chainPage #links .linkBox {
  height: 110px;
  background: #fff;
  color: #888;
  font-size: 12px;
  margin-bottom: 20px;
}

#chainPage #links .linkBox:hover {
  background: #ccc;
}

#chainPage #links .newLinkBox {
  height: 60px;
  background: #fff;
  color: #888;
  font-size: 12px;
  margin-bottom: 20px;
}

#chainPage #links .newLinkBox p {
  padding: 20px 0 0 20px;
  font-size: 20px;
  font-family: 'Merriweather Sans'
}

#chainPage #links .newLinkBox:hover {
  background: #ccc;
}

#chainPage #links .linkBox .title {
  color: #333;
  font-size: 15px;
  padding: 10px 0 0 10px;
  font-weight: 700;
}

#chainPage #links .linkBox .text {
  font-family: 'Pt Serif', serif;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  height: 47px;
  color: #555;
  overflow: hidden;
  line-height: 17px;
}

#chainPage #links .linkBox .author {
  float: right;
  margin: -15px 10px 0 0;
}

#chainPage #links .linkBox .date {
  float: right;
  margin-right: 10px;
  padding-top: 5px;
}

#chainPage .stats .updates {
  color: #666;
  font-size: 14px;
}

#chainPage .stats .updates ul {
  margin-top: 8px;
}

#chainPage .stats .updates li {
  margin: 0 0 5px 5px;
}

.members {
  margin-top: 35px;
  color: #666;
  text-align: center;
  margin-bottom: 20px;
}

.members .title {
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
  color: #888;
}

.membersBox {
  background: #fff;
  padding: 25px 0 20px 0;
}

.membersBox p {
  margin-bottom: 15px;
}

/* WYSIHTML5 */

.wysihtml5-sandbox {
  background: transparent !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  width: 620px !important;
  /*position: relative !important;*/
}

.editorTitle {
  background: transparent;
  font-size: 22px;
  font-weight: 700;
  color: #333;
  border: none;
  box-shadow: none;
  padding: 5px;
  text-align: center;
  width: 100%;
}

:focus {
  outline: none;
}

/* BOILERPLATE */

.clear {
  clear: both;
}

/* SPLASH */

#log_err {
  color: red;
  font-size: 13px;
}

#reg_err {
  color: red;
}

#newchain_err {
  color: red;
}

#splash_logo {
  margin-bottom: 40px;
}

#splash_body {
  margin-bottom: 40px;
}

#splash_body #banner {
  margin-left: 0px;
}

#description {
  font-size: 22px;
  font-weight: 300;
  padding: 26px 25px;
  text-align: center;
  line-height: 32px;
}


#login_box {
  color:black !important;
  text-align: center;
  background-color: white;
  border: 5px solid #09d;
  padding: 15px;
}

